@charset "UTF-8";

* *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #015100;
  --secondary-color: #df91d0;
  --ultra-light:#fceefb;
  --next: #ffffb0
}

body {
  font-family: "Lucida Console", monospace;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#input {
  all: unset;
  width: auto;
  line-height: 1.5;
  background-color: var(--ultra-light);
  text-shadow: 1px 1px 0 var(--ultra-light);
  border: solid var(--secondary-color) 2px;
  font-size: 2rem;
  font-weight: bold;
  padding: 20px;
  border-radius: 50px;
  text-align: center;
  box-shadow: 5px 5px 0px black;
  margin: 50px 0 20px 0;
  transition: 
    transform 0.15s ease,
    background-color 0.15s ease,
    border-color 0.15s ease,
    box-shadow 0.15s ease;
}

#input::placeholder {
  line-height: 1.5;
  padding: 5px 0px;
}

#input:focus::placeholder {
  color: transparent;
  text-shadow: none;
}

#input:focus {
  background-color: transparent;
  border: none;
  box-shadow: none;
  margin: 52px 0 22px 0;
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

#tasks-list {
  list-style: none;
  width: 84vw;
  max-width: 440px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 1rem;
}

li {
  width: auto;
  border-radius: 5px;
  box-shadow: 4px 4px 0 black;
  background-color: var(--secondary-color);
  color: var(--ultra-light);
  overflow:visible;
  text-shadow: .5px .5px 0 var(--primary-color);
  font-size: 1.7rem;
  font-weight: bold;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
  transition:
    transform 0.1s ease,
    filter 0.1s ease,
    background-color 0.5s ease,
    color 0.01s ease;
}

li:hover {
  outline: solid 2px var(--ultra-light);
  cursor: default;
}

.done {
  transform: scale(0.95);
  filter: blur(0.9px);
  background-color: var(--ultra-light);
  color: grey;
}

button {
  all: unset;
  border-radius: 5px;
  padding: 5px;
  height: 100%;
  background-color: transparent;
  color: var(--primary-color);
  font-size: 1rem;
}

button svg {
  width: 30px;
  height: 6vw;
  max-height: 1.7rem;
}

button:hover {
  cursor: pointer;
  background-color: var(--ultra-light);
  color: var(--secondary-color);
}